@import "./_colors.scss";

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: $foreground;
  background: $background;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
}