/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

lora()
  font-family: Lora, serif
  font-weight: 700
  letter-spacing: -0.016em;

html, body
  height: 100%

body
  font-family: Nunito Sans, sans-serif

body, .navbar, .navbar .links.links, .sidebar, .theme-container
  background: $bgColor

.content__default 
  h1, h2, h3, h4
    lora()

.sidebar-heading, .navbar .site-name.site-name
  lora()


.home .hero img
  max-width 450px!important

.home .hero.hero h1
  margin-top: -2.5rem
  margin-bottom: 1rem
  font-size: 3rem
  lora()


.home .hero.hero .description
  color: #4e6e8e
  margin-top: 0
  font-size: 20px
  max-width: 35rem

.home.home .hero .action-button
  border-radius: 5em
  padding: 0.4rem 1.5rem
  margin-bottom: 3rem

.home.home .feature h2
  lora()

.home a.header-anchor
  display: none

.home .theme-default-content
  max-width: 60ch;
  margin: 4rem auto;
  margin-bottom: 8rem

.theme-default-content p a
  border-bottom: solid 1px #0546

.theme-default-content.theme-default-content p a:hover
  text-decoration: none
  border-bottom: solid 1px #054c

.theme-default-content .icon.outbound
  color: $accentColor
  opacity 0.6
  margin-left: 0.125em;

.theme-default-content blockquote
    color: #243;
    border-left: 0.2rem solid #bee;
    padding: 1rem;
    background: #fffc;

.navbar.navbar .logo
  margin: 0

.theme-default-content:not(.custom)
    > h1:first-child, 
    > h2:first-child, 
    > h3:first-child, 
    > h4:first-child, 
    > h5:first-child, 
    > h6:first-child
      padding-top: 6rem

.theme-default-content
  li
    margin-bottom: 0.75rem
  strong
    font-weight: 700

  .theme-code-group__nav.theme-code-group__nav
    overflow: auto
    padding-right: 10px

  .theme-code-group__nav-tab.theme-code-group__nav-tab
    font-family: 'Fira Code'
    padding:  0.25em 0.75em
    white-space: nowrap;
    color: #fffa;
    border-bottom: 1px solid #42b98300;
    transition: color 200ms ease-in-out, border-color 200ms ease-in-out;

  .theme-code-group__nav-tab.theme-code-group__nav-tab-active
    border-color: #42b983;
    color: #fff;

  .theme-code-block pre
    margin-top: 1px

  // Sh blocks should always be single lines
  // (Use "```bash" for multiline terminal input examples!)
  pre.language-sh
    display: flex
    align-items: center

  pre.language-sh::before
    content: '$';
    user-select: none;
    margin-right: 0.75em;
    opacity: 0.5;

  div[class*="language-"][class*="language-"]
    margin-top: 0
  
  // Hide line numbers for bash, sh, and unspecified blocks
  .language-bash.line-numbers-mode, 
  .language-sh.line-numbers-mode, 
  .language-txt.line-numbers-mode, 
  .language-.line-numbers-mode
    pre
      padding-left: 1.5rem
    &::after
      display none
    .line-numbers-wrapper
      display none

.badge.badge.badge
  font-family: 'Nunito Sans'
  font-size: 12px

.badge.badge.badge.warning
  background-color: #673ab7