/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$bgColor = #e5fff2
$accentColor =  #30854b
$textColor = #2c3e50
$borderColor = #b3dfaa
$codeBgColor = #282c34
