:root {
  --vp-font-family-header: 'Lora', monospace;
  --vp-font-family-base: 'Nunito Sans', sans-serif;
  --vp-font-family-mono: 'Fira Code', monospace;
}

html:not(.dark) {
  /* LIGHT MODE */
  --vp-c-bg: hsl(150, 100%, 98%);
  --vp-c-bg-clear: hsla(150, 100%, 98%, 0.7);
  --vp-c-bg-soft: hsl(150, 64%, 94%);
  --vp-c-bg-mute: hsl(150, 55%, 90%);
  --vp-c-bg-alt: var(--vp-c-bg-soft);
  
  --vp-custom-block-warning-text: hsl(45deg 85% 30%);
  --vp-c-yellow-dimm-3: rgb(250, 253, 214, 0.75);

  

  --vp-c-brand: hsl(153, 47%, 33%);
  --vp-code-block-bg: var(--vp-c-bg-soft);
  --vp-code-line-number-color: #24292F88;
  --vp-code-line-highlight-color: hsl(153deg 47% 50% / 25%);
}

html:not(.dark) .VPNav.no-sidebar, 
html:not(.dark) .VPNavBar.has-sidebar .content {
  background-color: var(--vp-c-bg-clear) !important;
}

.VPFeature .icon {
  background-color: var(--vp-c-bg-mute);
}

.vp-doc a[href] {
  text-decoration: underline;
  font-weight: inherit;
  color: inherit;
}

.language-txt > .lang,
.language-sh > .lang {
  display: none;
}

summary::marker {
  content: "➡️ ";
  color: var(--vp-c-text-1);
}
details[open] summary::marker {
  content: "⬇️ ";
}
details[open] summary {
  color: var(--vp-c-text-1);
}



.vp-doc h1, .vp-doc h2, .vp-doc h3 {
  font-family: var(--vp-font-family-header);
  font-weight: 700;
}

.VPNavBarTitle .title {
  font-family: var(--vp-font-family-header);
}

.VPHomeHero .name, .VPHomeHero .text {
  font-family: var(--vp-font-family-header);
}

.VPHomeHero .main {
  order: 3;
}

.dark .VPHomeHero .VPImage {
  font-size: 16px;
  animation: rainbow 10s infinite ease-in-out;
}

.VPNavBarTitle .title {
  font-size: 24px;
}

.VPNavBarTitle .VPImage {
  height: 32px;
}

.VPFeature .title {
  font-size: 24px;
  line-height: 1.15;
  font-family: var(--vp-font-family-header);
}

@keyframes rainbow {
  0% {
    filter: drop-shadow(0px 0.25em 3em deeppink);
  }
  20% {
    filter: drop-shadow(0px 0.25em 4em coral);
  }
  40% {
    filter: drop-shadow(0px 0.25em 3em mediumseagreen);
  }
  60% {
    filter: drop-shadow(0px 0.25em 5em dodgerblue);
  }
  80% {
    filter: drop-shadow(0px 0.25em 4em violet);
  }
  100% {
    filter: drop-shadow(0px 0.25em 3em deeppink);
  }
}

.vp-doc code {
  font-variant-ligatures: none;
}

.vp-doc div.language-txt .copy { display: none; }

.vp-doc div.language-sh.line-numbers-mode,
.vp-doc div.language-txt.line-numbers-mode,
.vp-doc div[class^="language-"].line-numbers-mode pre {
  padding-left: 0;

}

.vp-doc .language-sh pre::before {
  content: '$';
  position: absolute;
  left: 1.2rem;
  opacity: 0.35;
  user-select: none;
}

.vp-doc .language-sh pre {
  padding-left: 1rem !important;
}

.vp-doc .language-sh .line-numbers-wrapper,
.vp-doc .language-txt .line-numbers-wrapper {
  display:none;
}

.vp-doc .custom-block div[class*='language-'] code {
  background: transparent;
}

.vp-doc img {
  image-rendering: optimizeQuality;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 4px 8px var(--vp-c-bg-mute);
  border: solid 1px var(--vp-c-bg-mute);
}

.vp-doc > div > p > img {
  max-height: 40vh;
}

.vp-doc blockquote > p {
  margin: 0;
  padding: 0.5em;
  font-size: 20px;
  line-height: 1.4;
  color: var(--vp-c-text-2);
  transition: color 0.5s;
}

/* Little browser window */

.browser {
  margin: 3rem 2rem;
  overflow: hidden;
  border-radius: 1rem;
  display: block;
  border: solid 1px var(--vp-c-divider-light);
  box-shadow: var(--vp-shadow-3);
  font-size: 6px;
}

.dark .browser {
  animation: rainbow 30s infinite ease-in-out;
}

.browser__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 8px 1rem;
  background-color: var(--vp-c-bg-mute);
  border-bottom: solid 1px var(--vp-c-divider-light);
}

.browser__buttons {
  display: flex;
  gap: 0.5rem;
}

.browser__button {
  display: block;
  font-size: 0.5em;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background: white;
  box-shadow: var(--vp-shadow-1);
}

.browser__button--red { background: #e36a6a }
.browser__button--yellow { background: #f6c242 }
.browser__button--green { background: #40d181 }

.browser__urlbar {
  background-color: var(--vp-c-bg-soft);
  flex: 1;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  box-shadow: var(--vp-shadow-1);
  border: solid 1px var(--vp-c-divider-light);
  font-size: 1rem;
  font-family: var(--vp-font-family-mono);
}

img.browser__image {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 0;
}

.vp-doc > div > p > img[src$=png],
.vp-doc > div > p > img[src$=gif] {
  max-height: 50vh;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  animation: none;
}

.news-post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1.5rem;
  border: solid 1px var(--vp-c-divider);
  border-radius: 4px;
  text-decoration: none !important;
  background-color: var(--vp-c-bg-alt);
  margin: 1.5rem 0;
}

.news-post:hover {
  background-color: var(--vp-c-bg-mute);
}

.news-post__header {
  display: flex;
  gap: 0.5rem;
  font-size: 1.25em;
  font-weight: 700;
  font-family: var(--vp-font-family-header);
}

.news-post__body {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.news-post__date {
  opacity: 0.75;
}

.vp-doc blockquote p {
  position: relative;
  margin: 2rem 0;
}

.vp-doc h1 { font-size: 2.5em; margin-left: -0.125em }
.vp-doc h2 { font-size: 1.75em; padding-top: 1.5em; margin-left: -0.125em }
.vp-doc h3 { font-size: 1.5em; padding-top: 1.5em; margin-left: -0.125em }
.vp-doc h4 { font-family: var(--vp-font-family-header); font-size: 1.25em; padding-top: 2em; margin-left: -0.125em }

.inline-emoji {
  display: inline;
  margin: 0 !important;
  width: 5rem;
  float: right;
  border-radius: 1rem !important;
  border: solid 1px var(--vp-c-divider) !important;
  font-size: 2px;
  box-shadow: none !important;
}

